<!--The content below is only a placeholder and can be replaced.-->
<style>
div#chart1,
div#chart2,
div#chart3 {
  width: 700px;
  height: 700px;
}
</style>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<ul>
</ul>

Villkor: f(x1) = 4 * f(x0)<br>
<br>
x0 = 2000 <br>
x1 = 100000 <br>
k = 3 * y0 / log(x1/x0) <br>
f(x) = y0 + k * log(x/x0)
<br>
<br>
Mer generellt: f(x1) = N * f(x0)<br>
k = (N-1) * y0 / log(x1/x0)

<div id="chart1"></div>
<div id="chart2"></div>
<div id="chart3"></div>

